
<center>
  <h1>PS-P4</h1>
  <textarea rows="20" cols="100" id="texto" class="textarea"> </textarea>
  <br>
  <input type="file" id="fileinput" onChange={{action "metodo_leerArchivo"}}/>
  <br>
  <br>
  <input type="button" id="mediInput" value="Calcular Medias" onclick={{action "metodo_dividirLOCMetodos"}}>
</center>
